h1, h2
{
    font-family: Georgia, Arial;
    font-weight: bold;
    text-decoration: none;
}
h1
{
    font-size: 2em;
    color: crimson;
}
h2
{
    font-size: 1.25em;
    color:cadetblue;
}
p
{
    font-family: Arial;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
}
blockquote
{
    font-family: Courier;
    font-size: 0.75em;
    line-height: 1.5em;
    color: gray;
}
a:hover
{
    text-decoration: none;
}
mark
{
    background-color: yellow;
}